.gradient{
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}
@media(max-width:640px){
    .descriptive-content h4{
        font-size: 20px;
    }
    .descriptive-content p{
        font-size: 16px;
        line-height: 26px;
    }
}
.description-main{
    background-color: #000;
    padding: 32px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Optional shadow */
}