.hamberger span{
    background-color: #fff;
    height: 1.3px;
    border-radius: 20px;
    transition: opacity 300ms ease-in-out, rotate 300ms ease-in-out;
    transform-origin: right;
}
:root {
  --text-gradient: linear-gradient(147deg, #d3d7ff, #5a64cd);
}

.anchor-hover {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
}

.anchor-hover::after {
  content: ""; /* Add a pseudo-element for the underline */
  position: absolute;
  bottom: 0; /* Position the underline at the bottom */
  left: 0; /* Start from the left */
  width: 0; /* Initially hidden */
  height: 3px; /* Thickness of the underline */
  background-image: var(--text-gradient); /* Apply the gradient */
  background-size: 200%; /* Adjust for smooth gradient effect */
  background-position: 0% 50%; /* Control gradient alignment */
  transition: width 0.4s ease, background-position 0.4s ease; /* Smooth animations */
}

.anchor-hover:hover::after {
  width: 100%; /* Expand underline on hover */
  background-position: 100% 50%; /* Add a gradient shift effect */
}


.header{
    background: rgba(255, 255, 255, 0.2); /* Transparent white */
  backdrop-filter: blur(20px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(20px); /* Safari support */
  /* border: 1px solid rgba(255, 255, 255, 0.3);  */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Optional shadow */
  z-index: 1000; /* Ensure the navbar stays above content */
  
 
}
@media (max-width:500px){
    .header{
      /* position: relative; */
      &.false{
        .hamberger{
            margin-left: 0;
        }
      }
      .hamberger-group{
        position: absolute;
        right: 24px;
        
      }
    }
  }
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.span1{
    width: 24px;
}
.span2{
    width: 32px;
}
.span3{
    width: 24px;
}
/* body.no-overflow {
    overflow: hidden;
}
html.no-overflow {
    overflow: hidden;
} */

